<!DOCTYPE html>
<html>
  <head>
    <title>Capital Asset Replacement Fund</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
