<!DOCTYPE html>
<html>
  <head>
    <title>Capital Asset Replacement Fund</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- build:css /css/site.css -->
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href="/bower_components/semantic-ui/dist/semantic.css" />
    <!-- endbuild -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- build:js /js/site.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/semantic-ui/dist/semantic.js"></script>
    <!-- endbuild -->
  </body>
</html>
